/*
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/
html * {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: whitesmoke;
}

.card {
    border-radius: 20px;
}

.mainBody {
    background-image: url("/static/images/orch2.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.pageBody {
    padding: 100px 0;
}

.navBar,
.footer {
    color: black;
    background: linear-gradient(to right, #D652F0, #52C0F0, #5DF052, #52C0F0, #D652F0);
    height: 80px;
}

.navBar ul li,
.navBar ul li a,
.footer {
    font-size: 20px;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 30px;
    z-index: 10;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
}



.textInputCard,
.workInputCard {
    background-color: rgba(10, 9, 10, 0.8);
    margin: 20px 0;
    padding: 10px;
    border-radius: 20px;

}

.modal,
.modal-footer {
    background-color: rgba(10, 9, 10, 0.8);
    margin: 20px 0;
    padding: 10px;
    border-radius: 20px;
    line-height: 35px;
    font-weight: 600;
}

.textInputCard h3,
.textInputCard h4,
.textInputCard h5,
.textInputCard h5 a u,
.carousel-item h2 {
    line-height: 35px;
    font-weight: 600;
}

form button {
    box-shadow: black;
    margin: 15px;
}

.textInputCard label,
.textInputCard .input-field,
.textInputCard i,
.workInputCard .input-field {

    font-size: 30px;
    font-weight: 600;
    margin: 5px;
}


.searchBar,
.flashMessages h5 {
    background-color: rgba(10, 9, 10, 0.8);
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;

    text-align: center;
    font-weight: 600;
}

.carousel {
    margin-top: 20px;

}

.spotifyButton {
    border-radius: 30px;
    border: 1px solid black;
    color: black;
    padding: 3px 10px;
    background: linear-gradient(60deg, #FF0000 20%, #1DB954 25%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.spotifyButton i {
    color: black;
}

.regularButton {
    border-radius: 30px;
    border: 1px solid black;
    background: whitesmoke;
    color: black;
    font-weight: 700;

}

.regularButton:hover {
    background: #D652F0;
}

.carousel.carousel-slider .carousel-item h2 {
    font-size: 20px;
    margin: 10px;
}

.row.slider-center {
    position: absolute;
    top: 50%;
    width: 100%;
}

.navButtons i {
    font-size: 30px;
    margin: 0 10px;
}

.imageContainer img {
    max-height: 12.5%;
    max-width: 12.5%;
    margin: 20px;
}

.editDeleteButtons {
    margin: 20px;
}