/*
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/
html * {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: black;
}

.card {
    border-radius: 20px;
}

.navBar,
.footer {
    background: linear-gradient(to right, #D652F0, #52C0F0, #5DF052, #52C0F0, #D652F0);
    height: 80px;
}

.navBar ul li,
.navBar ul li a,
.footer {
    font-size: 20px;
}

.navBar {
    padding: 10px;
    font-size: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
}

.mainBody {
    background-image: url("/static/images/orch2.jpg");
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;

}

.pageBody {
    padding-bottom: 80px;
}

.textInputCard,
.workInputCard {
    background-color: rgba(214, 82, 240, 0.6);
    margin: 20px 0;
    padding: 10px;
    border-radius: 20px;

}

.textInputCard h3,
.textInputCard h4,
.textInputCard h5,
.textInputCard h5 a u,
.carousel-item h2 {
    color: white;
    font-weight: 600;
}

form button {
    box-shadow: black;
    margin: 15px;
}

.textInputCard label,
.textInputCard .input-field,
.textInputCard i,
.workInputCard .input-field {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 5px;
}

.workInputCard .input-field label {
    color: white;
}

.searchBar,
.flashMessages h5 {
    background-color: rgba(214, 82, 240, 0.4);
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-weight: 600;
}

.carousel {
    margin-top: 20px;

}

.spotifyButton {
    border-radius: 30px;
    border: 1px solid black;
    padding: 3px 10px;
    background-color: #1DB954;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.carousel.carousel-slider .carousel-item h2 {
    font-size: 20px;
    margin: 10px;
}

.row.slider-center {
    position: absolute;
    top: 50%;
    width: 100%;
}

.navButtons i {
    font-size: 30px;
    color: white;
    margin: 0 10px;
}

.imageContainer img {
    max-height: 12.5%;
    max-width: 12.5%;
}