{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m6 offset-m3">
        <div class="textInputCard homePage center">
            <h3>404</h3>
            <h4>Uh oh, looks like that is not a thing! Perhaps it's an incorrect URL?<br><br> Return to <a
                    href="{{ url_for('browse') }}"><u>the library</u><br><br>
                    If you were trying to listen to a piece, may we suggest manually searching in <a
                        href="https://www.spotify.com/us/" target="_blank"><u>Spotify</u></a>?

                </a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}