{% extends "base.html" %}
{% block content %}
<div class="textInputCard homePage">
    <h4>Uh oh, looks like that is not a thing! Perhaps an incorrect spotify or youtube URL was entered? May we suggest
        manually searching that one for now! Go back to <a href="{{ url_for('browse') }}">
            <h4 class="white-text">Browse</h4>
        </a> or search on <a href="https://www.spotify.com/us/" target="_blank">Spotify <i
                class="fab fa-spotify"></i></a>
    </h4>
</div>
{% endblock %}