{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s6">
        <a href="{{ url_for('browse') }}">
            <h4 class="white-text">Back<i class="fas fa-arrow-left white-text left"></i></h4>
        </a></div>
    <div class="col s6">
        <h4 class="white-text right">Add a Piece</h4>
    </div>
</div>
<!--CREATE SECTION-->
<div class="row">
    <form class="col s12 workInputCard" method="POST" action="{{ url_for('add_work') }}">
        <div class="row">
            <div class="input-field col s12">
                <select id="genre_name" name="genre_name" class="validate grey-text" required>
                    <option value="" disabled selected>Work Genre</option>
                    {% for genre in genres %}
                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }} : {{ genre.timeline }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s12">
                <input id="composer" name="composer" type="text" class="validate" required>
                <label for="composer">Composer Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="work" name="work" type="text" class="validate" autocomplete="off" required>
                <label for="work">Name of Work</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="description" name="description" type="text" autocomplete="off" class="validate">
                <label for="description">A little info</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="url" name="url" type="text" autocomplete="off" class="validate">
                <label for="url">Paste a link to listen</label>
            </div>
        </div>
        <button type="submit" class="btn-floating btn-large waves-effect addButton"><i
                class="material-icons">add</i></button>
    </form>
</div>

{% endblock %}