{% extends "base.html" %}
{% block content %}

<div class="workInputCard">
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
        </div>
        {% for work in works %}
        <div class="carousel-item white-text" href="#one!">
            {% for composer in composers %}
            {% if work.composer == composer.composer_name %}
            <div class="imageContainer">
                <img src="{{ composer.composer_image }}" class="circle composerImage"></div>
            {% endif %}
            {% endfor %}
            <h2>{{ work.composer }}</h2>
            <h2>{{ work.work }}</h2>
            <p class="white-text">{{ work.description }}</p>
            <a class="spotifyButton" href="{{ work.url }}" target="_blank">Listen Here <i
                    class="fab fa-spotify"></i></a>
        </div>
        {% endfor %}
        <div class="row slider-center navButtons">
            <i class="fas fa-backward left" id="backButton"></i>
            <i class="fas fa-forward right" id="nextButton"></i>
        </div>
    </div>
    <h4 class="white-text center">Add to our library <a href="{{ url_for('add_work') }}"><u
                class="white-text">here!</u></a></h4>
</div>
<div class="searchBar row">
    <form action="{{ url_for('search') }}" method="POST">


        <div class="input-field col s12 m6">

            <select type="text" name="search_by" id="search_by" class="validate grey-text" required>
                <option value="" disabled selected>Work Genre</option>
                {% for genre in genres %}
                <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="input-field col s12 m6">
            <input placeholder="Search Composers" id="search_by" name="search_by" type="text" class="validate">

            <button type="submit">Search</button>
        </div>
    </form>
</div>

{% endblock %}