{% extends "base.html" %}
{% block content %}

<div class="workInputCard">
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
        </div>
        {% for work in works %}
        <div class="carousel-item white-text" href="#one!">
            {% for composer in composers %}
            {% if work.composer == composer.composer_name %}
            <div class="imageContainer">
                <img src="{{ composer.composer_image }}" class="circle composerImage"></div>
            {% endif %}
            {% endfor %}
            <h2>{{ work.composer }}</h2>
            <h2>{{ work.work }}</h2>
            <p class="white-text">{{ work.description }}</p>
            <a class="spotifyButton" href="{{ work.url }}" target="_blank">Listen Here <i
                    class="fab fa-spotify"></i></a>
        </div>
        {% endfor %}
        <div class="row slider-center navButtons">
            <i class="fas fa-backward left" id="backButton"></i>
            <i class="fas fa-forward right" id="nextButton"></i>
        </div>
    </div>
    <h4 class="white-text center">Add to our library <a href="{{ url_for('add_work') }}"><u
                class="white-text">here!</u></a></h4>
</div>
<div class="searchBar row">

    <div class="col s6">
        <div class="input-field">
            <select>
                <option value="" disabled selected>Filter Genre</option>
                {% for genre in genres %}
                <option value="1">{{ genre.genre_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col s6">
        <div class="input-field">

            <div class="input-field">
                <input id="composer" name="composer" type="text" class="validate">
                <label for="composer">Search Composers</label>
            </div>

        </div>
    </div>
</div>
{% endblock %}