{% extends "base.html" %}
{% block content %}

<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    {% for work in works %}
    <div class="carousel-item white-text" href="#one!">
        <h2>{{ work.composer }}</h2>
        <h2>{{ work.work }}</h2>
        <p class="white-text">{{ work.description }}</p>
        <a class="spotifyButton" href="{{ work.url }}" target="_blank">Listen Here <i class="fab fa-spotify"></i></a>
    </div>
    {% endfor %}
</div>
<h3 class="white-text center">Dont see something you like, add it <a href="{{ url_for('add_work') }}"><u
            class="white-text">here!</u></a></h3>
{% endblock %}