{% extends "base.html" %}
{% block content %}
<h4 class="headerBar white-text center hide-on-small-only">You must be <a href="{{ url_for('login') }}"><u
            class="white-text">logged in</u></a> to add to our library or search.
</h4>
<h5 class="headerBar white-text center hide-on-med-and-up">You must be <a href="{{ url_for('login') }}"><u
            class="white-text">logged in</u></a> to add to our library or search.
</h5>
<div class="workInputCard">
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
        </div>
        <!--READ SECTION-->
        {% for work in works %}
        <div class="carousel-item white-text" href="#one!">
            <h2>{{ work.composer }}</h2>
            <h2>{{ work.work }}</h2>
            <div class="hide-on-med-and-up valign-center navButtons">
                <i class="fas fa-backward left"></i>
                <i class="fas fa-forward right"></i></div>
            <p class="white-text">{{ work.description }}</p>
            {% if work.image and work.image.composer_image|length != 0 %}
            <div class="imageContainer">
                <img src="{{ work.image.composer_image }}" class="circle composerImage">
            </div>
            {% else %}
            <div class="imageContainer">
                <img src="static/images/cello.jpg" class="circle composerImage">
            </div>


            {% endif %}
            {% if work.url|length != 0 %}
            <a class="spotifyButton" href="{{ work.url }}" target="_blank">Listen Here <i
                    class="fab fa-spotify"></i></a>
            {% else %}
            <p class="white-text">No link to listen provided</p>
            {% endif %}


        </div>

        {% endfor %}

        <div class="row slider-center navButtons hide-on-small-only">
            <i class="fas fa-backward left" id="backButton"></i>
            <i class="fas fa-forward right" id="nextButton"></i>
        </div>
    </div>

</div>

{% endblock %}