{% extends "base.html" %}
{% block content %}



<div class="row">
    <h4>Composers</h4>

    <div class="card workInputCard">
        {% for composer in composers %}
        <div class="card-content white-text">
            <span class="card-title">{{ composer.composer_name}}</span>

        </div>
        <div class="card-action">
            <a href="{{ url_for('edit_composer', composer_id=composer._id) }}" class="btn regularButton">Edit
                Composer</a>
            <a href="#" class="dropdown-trigger regularButton btn" data-target='dropdown2'>Remove Composer</a>
            <ul id='dropdown2' class='dropdown-content'>
                <li><a href="{{ url_for('delete_composer', composer_id=composer._id) }}" class="white-text">Delete</a>
                </li>
                <hr>
                <li><a href="#" class="white-text">Cancel</a></li>
            </ul>

        </div>
        {% endfor %}
    </div>



</div>





{% endblock %}