{% extends "base.html" %}
{% block content %}
<div class="headerBarDelete center row">
    <h4 class="white-text center">Are you sure you want to delete {{ composer.composer_name }}?</h4>


    <div class="col s10 offset-s1 editDeleteButtons">
        <a href="{{ url_for('composers') }}" class="regularButton btn center">No, go back
        </a>
    </div>
    <div class="col s10 offset-s1 editDeleteButtons">
        <form method="POST" action="{{ url_for('delete_composer', composer_id=composer._id) }}">
            <button type="submit" class="regularButton btn center">Yes, Delete</button>
        </form>

    </div>

</div>

{% endblock %}