{% extends "base.html" %}
{% block content %}
<div class="textInputCard homePage">
    <h2 class="center-align">Misanthropic Unicorns<br> Symphony Orchestra</h2>
    <hr>
    <h3 class="center-align">Bringing Classic Back</h3>
    <h4 class="center-align">A Community Built Classical Music Library</h4>
    {% if not session.user %}
    <hr>
    <h5 class="center">Are you looking for new classical music recommendations?<br>
        MUSO have created a community built classical music library! Find new classical music favourites to listen to,
        or share your own!<br>
        <a href="{{ url_for('register') }}"><u>Register</u></a>, or <a href="{{ url_for('login') }}"><u>log in</u></a>
        Here!
    </h5>
    {% endif %}
</div>
{% endblock %}