{% extends "base.html" %}
{% block content %}
<!--READ SECTION-->
<div class="row textInputCard z-depth-5">
    <h3 class="center">Log In</h3>
    <form class="col s12" method="POST" action="{{ url_for('login') }}">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" name="username" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" autocomplete="off" required>
                <label for="username"><i class="far fa-user-circle"></i> Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                <label for="password"><i class="fas fa-unlock-alt"></i> Password</label>
            </div>
        </div>
        <div class="center">
            <button type="submit" class="regularButton btn-large">Log
                In</button>
        </div>
    </form>
    <h5 class="center"><br>Not registered yet? Click <a href="{{ url_for('register') }}"><u>here</u></a></h5>
</div>


{% endblock %}