{% extends "base.html" %}
{% block content %}
<div class="row textInputCard z-depth-5">
    <h3 class="center hide-on-small-only">Hi {{ username.capitalize() }}!! See all your uploads here. <i
            class="fas fa-smile"></i></h3>
    <h5 class="center hide-on-med-and-up">Hi {{ username.capitalize() }}!! See all your uploads here. <i
            class="fas fa-smile"></i></h5>

</div>
<div class="row">

    <div class="card workInputCard">

        {% for work in works %}

        <div class="card-content white-text center">
            <span class="card-title">{{ work.composer }}</span>
            <span class="card-title">{{ work.work }}</span>

        </div>
        <div class="card-action center">
            <a href="{{ url_for('edit_info', work_id=work._id) }}" class="regularButton btn">Edit</a>
            <a href="{{ url_for('delete_info', work_id=work._id) }}" class="regularButton btn">Remove</a>
        </div>
        {% endfor %}


        <div class="card-content white-text center">
            <h3 class="card-title">Well, this was all we could find for you!</h3>
            <span class="card-title">Browse to see what others have added to our library <a
                    href="{{ url_for('browse') }}"><u>here</u></a>. Feel free to contribute!</span>
        </div>



    </div>

</div>


{% endblock %}